<ion-content class="card-background-page">
  <ion-card>
    <img src="../../assets/imgs/foot.jpg" (click)="goToElement()">
    <div class="card-title">Football</div>
    <div class="card-subtitle">Les 5 Grands Championnats</div>
  </ion-card>

  <ion-card>
    <img src="../../assets/imgs/footus.jpg">
    <div class="card-title">Foot US</div>
    <div class="card-subtitle">Les meilleurs Touch-Down !</div>
  </ion-card>

  <ion-card>
    <img src="../../assets/imgs/basketball.jpg">
    <div class="card-title">Basket</div>
    <div class="card-subtitle">Des Dunck de malade !</div>
  </ion-card>

  <ion-card>
    <img src="../../assets/imgs/rugby.jpg">
    <div class="card-title">Rugby</div>
    <div class="card-subtitle">Foncé sans hésiter !</div>
  </ion-card>
</ion-content>
